<ul class="navbar-nav ml-auto">
  <li>
    <%= link_to new_user_session_path, class:"nav-link" do %><span class="icon"></span><i class="fas fa-sign-in-alt"></i>Sign in<% end %>
  </li>
  <li>
    <%= link_to new_user_registration_path, class:"nav-link" do %><span class="icon"><i class="fas fa-user-plus"></i></span>Sign up<% end %>
  </li>
</ul>