<ul class="navbar-nav ml-auto">
  <li>
    <%= link_to destroy_user_session_path, method: :delete, class:"nav-link" do %>
      <span class="icon"><i class="fas fa-sign-out-alt"></i></span>Logout
    <% end %>
  </li>
  <li>
    <%= link_to edit_user_registration_path(current_user), class:"nav-link" do %>
      <span class="icon"><i class="fas fa-user-edit"></i></span>Edit
    <% end %>
  </li>
</ul>