<div class="cardbox-heading">
  <div class="media m-0">
    <div class="media-body">
      <p class="m-0"><%= post.user.username %></p>
      <small class="float-right"><%= time_ago_in_words(post.created_at) %> ago</small>
    </div>
  </div>
</div>
<div class="cardbox-item">
  <%= image_tag post.thumbnail if post.image.attached? %>
</div>