<% if user_signed_in? %>
  <h5 class="card-header"><%= link_to user_path(current_user) do %><%= current_user.username %><% end %></h5>
  <div class="card-body">
    <p class="card-text"><%= current_user.description %></p>
  </div>
<% else %>
  <h5 class="card-header">Guest</h5>
  <div class="card-body">
    <p class="card-text"><%= link_to 'Sign up to post!', new_user_registration_path %></p>
  </div>
<% end %>
