<div class="row">
  <div class="col-lg-4">
    <div class="card profile">
      <%= render 'profile' %>
    </div>
  </div>

  <div class="col-lg-8" id="new-post">
    <div class="d-flex justify-content-center">
      <%= render 'form' %>
    </div>
  </div>
</div>

