@import "bootstrap";

.post {
  margin-bottom: 10px 0;
}

.clear {
  clear: both;
}

.comment-field {
  margin: 10px 2px;
}

.fa-trash-alt {
  font-size: 32px;
}
.fa-edit {
  font-size: 32px;
}

.cardbox-base {
  padding: 10px;
}

.media-body {
  padding: 10px;
}

.cardbox {
  max-width: 550px;
}

.profile {
  margin-top: 20px;
}

.fa-heart {
  font-size: 32px;
  color: red;
}

.likes {
  display: inline-block;
}

.edit_like {
  display: inline-block;
  color: white;
}

.new_like {
  display: inline-block;
}

.ranking {
  padding-left: 10px;
  border-left: 5px solid #FA8072;
}

aside {
  margin-top: 20px;
}

.nav-item {
  margin: 0 5px;
}

.fa-search {
  font-size: 30px;
}

.search-bar {
  margin: 20px 0 0 15px; 
}

#new-post {
  margin: 20px 0;
}

#comment-list {
  padding-left: 5px; 
}

.comment {
  display: inline-block;
}