<div class="navbar-header">
  <%= link_to root_path, class: 'navbar-brand' do %><span class="icon"><i class="fas fa-home">Home</i></span><% end %>

  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>